.card {
   background: #fdfbfb;
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
   position: relative;
}

main .card::after {
   background-color: #aad7ff;
   color: #999;
   border-radius: 50%;
   height: 25px;
   width: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.4s ease;
   z-index: 1;
   box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
   transform: scale(1);
   animation: pulse 2s infinite;
   position: absolute;
   top: 0;
   left: 0;
}

main .card__container {
   padding: 0;
   width: 100%;
   min-width: 100%;
   border: 2px solid hsl(0, 0%, 25%);
   box-shadow: 0.4rem 0.4rem 0 0 hsl(0deg 0% 25%);
}

.card__image {
   width: 100%;
   height: 325px;
   object-fit: cover;
   object-position: top;
}

.card__label {
   color: #8cd4ff;
   font-family: "museo-sans-display";
   font-weight: 900;
   border-width: 1px;
   font-size: 36px;
   display: -moz-box;
   display: flex;
   -moz-box-pack: center;
   justify-content: center;
   -moz-box-align: center;
   align-items: center;
   z-index: 9;
   width: 75px;
   height: 100%;
   background-color: #f5f5f5;
   border-right: 1px solid #e4e4e4;
   background-color: #f5f5f51f !important;
   border-right: 1px solid #e4e4e442;
   position: relative;
}

.card__label svg {
   z-index: 1;
}

main .card::before {
   content: "\A";
   border-style: solid;
   border-width: 10px 15px 10px 0;
   border-color: transparent hsl(0, 0%, 25%) transparent transparent !important;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: -15px;
   z-index: 0;
   filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, 0.2));
}

main .card__header {
   text-orientation: mixed;
   writing-mode: vertical-rl;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   position: relative;
}

main .card__content {
   padding: 48px 32px 32px;
}

.card__title {
   position: absolute;
   top: -25px;
   left: 27px;
   z-index: 9;
   background-color: hsl(0, 0%, 97%);
   border: 2px solid hsl(0, 0%, 25%);
   text-align: center;
   box-shadow: 0.3rem 0.3rem 0 0 hsl(0deg 0% 25%);
   padding: 0.25rem 1.25rem;
   display: inline;
   font-size: 1.75rem;
   font-weight: 800;
   color: var(--font-primary);
   font-family: museo-sans-display;
   display: -moz-box;
   display: flex;
   -moz-box-align: center;
   align-items: center;
   z-index: 3;
}

.card__content {
   display: block;
}

.card--active h1,
.card--active h2 {
   color: rgb(29, 29, 44);
   line-height: 1;
}
.card h3,
.card h4,
.card h5,
.card h6 {
   color: var(--font-primary);
}

main .card__label::before {
   background: rgb(12 107 204 / 83%);
   display: inline-block;
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   opacity: 1;
}

main .card__overlay {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

main .card {
   background-color: #fdfbfb;
   color: var(--fonr-primary);
   display: flex;
   align-items: center;
   min-width: 100%;
}
