.steps {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #f7f7f7;
}

.steps:before {
   content: "";
   background-color: hsl(0deg 5% 89%);
   position: absolute;
   left: 50%;
   width: 2px;
   left: 50%;
   height: 100%;
   z-index: 1;
   transform: translateX(-50%);
}

.step {
   background-color: #aad7ff;
   color: #999;
   border-radius: 50%;
   height: 25px;
   width: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.4s ease;
   z-index: 1;
   box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
   transform: scale(1);
   animation: pulse 2s infinite;
}

@keyframes pulse {
   0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
   }

   70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
   }

   100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
   }
}
