.anchor {
   font-size: 1.5rem;
   color: var(--font-primary);
   text-decoration: none;
   font-size: 0.8rem;
   font-weight: 800;
   text-transform: uppercase;
   transition: 0.2s;
}

.anchor:hover {
   color: var(--primary);
   transition: 0.2s;
}

main .anchor {
   color: #8cd4ff;
}

main .anchor:hover {
   color: #aee1ff;
}
