.about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about .about__title {
  color: var(--secondary);
}

.about__text {
  max-width: 600px;
  margin: 0 auto;
}

.about .about__link {
  color: var(--secondary);
}
