.aside {
   width: 450px;
   height: 100%;
   display: flex;
   align-items: center;
}

.aside::before {
   display: inline-block;
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   opacity: 0.85;
}

.card.aside__card {
   max-width: 294px;
   transform: translateX(calc(72px + 84px));
   text-align: center;
   z-index: 2;
   border-radius: 0.5rem;
   flex-direction: column;
}

.card.aside__card > div {
   width: 100% !important;
}

aside .card__content {
   padding: 16px;
}

.aside__subheader {
   padding-top: 8px;
}

.aside__quicklinks {
   display: flex;
   justify-content: space-between;
   padding: 0 16px 0;
}

.aside img {
   border-top-left-radius: 0.5rem;
   border-top-right-radius: 0.5rem;
}

@media screen and (max-width: 575px) {
   .layer--aside {
      display: none !important;
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 576px) and (max-width: 768px) {
   .layer--aside {
      display: none !important;
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 769px) and (max-width: 992px) {
   .aside {
      display: none;
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 993px) and (max-width: 1200px) {
   .aside {
      display: none;
   }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1201px) {
   /* ...; */
}
