.button {
  cursor: pointer;
  position: relative;
  z-index: 3;
  background-color: transparent;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 1rem;
}

.button.button--primary {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.button.button--primary:hover {
  color: #fff !important;
}

.button.button--secondary {
  border: 1px solid var(--secondary);
  color: var(--secondary);
  box-shadow: var(--box-shadow);
}

.button.button--primary,
.button.button--secondary,
.button.button--primary::after,
.button.button--secondary::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button.button--secondary::before,
.button.button--primary::before,
.button.button--secondary::after,
.button.button--primary::after {
  content: "";
  position: absolute;
  z-index: -1;
}

.button.button--primary::before,
.button.button--primary::after {
  background: var(--primary);
}

.button.button--secondary::before,
.button.button--secondary::after {
  background: var(--secondary);
}

.button.button--primary::after,
.button.button--secondary::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
  border-radius: var(--border-radius);
}

.button.button--primary:hover,
.button.button--secondary:hover {
  color: #fff;
}

.button.button--secondary:hover {
  border: 1px solid var(--secondary);
}

.button.button--primary:hover:after,
.button.button--secondary:hover:after {
  width: 100%;
}

.button svg {
  margin-right: 0.5rem;
}

.contact__card span,
.button.button--primary,
.button.button--secondary {
  font-weight: 600;
}

.button--link {
  color: var(--primary);
  background: none;
}
