.container {
   width: 100%;
   margin: 0 32px 0 570px;
   display: flex;
   align-items: center;
   position: relative;
   background-color: transparent;
}

.container__step {
   border: 2px solid #80c3ff;
   position: absolute;
   background-color: #aad7ff;
   color: #999;
   border-radius: 50%;
   height: 25px;
   width: 25px;
   transition: 0.4s ease;
   z-index: 99;
   box-shadow: 0 0 0 0 rgb(90, 84, 84);
   top: 50%;
   transform: translateY(-50%) scale(0.95);
   left: -62px;
}

.container__step--animate {
   animation: pulse 2s infinite 0.5s;
}

@keyframes pulse {
   0% {
      transform: translateY(-50%) scale(0.95);
      box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
   }

   70% {
      transform: translateY(-50%) scale(1);
      box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
   }

   100% {
      transform: translateY(-50%) scale(0.95);
      box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
   }
}
