.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 4rem 0;
  background-color: var(--primary);
  margin-top: 10rem;
}

.contact__container {
  max-width: 1100px;
  background-color: #1d153af2;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem 1.5rem;
  margin-top: -8rem;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.contact__header,
.contact__container {
  color: #fff !important;
}

.contact__link {
  color: var(--secondary);
}

.contact__text {
  position: relative;
  text-align: center;
  max-width: 420px;
}

.contact__button {
  margin: 0 auto;
}

@media (min-width: 767px) {
  .contact__container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1.5rem;
  }
}
