.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 1rem 5rem 1rem;
  text-align: center;
}

.container--stretched {
  padding: 5rem 1rem 10rem 1rem;
  width: 100%;
  max-width: unset;
  background-color: #f1f1f1;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
}
