.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 1rem 5rem 1rem;
  text-align: center;
}

.container--stretched {
  background-color: var(--primary);
  padding: 5rem 1rem 10rem 1rem;
  width: 100%;
  max-width: unset;
}
