.contact {
   z-index: 1;
   position: relative;
}

.contact > section {
   animation: none;
   opacity: 1;
}

.contact__icon {
   background-color: rgb(var(--secondary));
   position: absolute;
   right: 50%;
   transform: translateX(50%);
   top: -25px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 3px solid #fff;
   box-shadow: var(--box-shadow);
   z-index: 2;
}

.contact__icon svg {
   color: rgb(var(--primary));
   font-size: 1.5rem;
}

.contact .contact__header {
   text-align: center;
   font-size: 5rem;
   margin: 0;
   position: absolute;
   top: 52px;
   z-index: 2;
   left: 50%;
   transform: translateX(-50%);
   color: rgba(var(--secondary)) !important;
}

.contact .contact__card {
   background-color: rgb(var(--bg-card));
   max-width: 405px;
}

.contact__overlay {
   background-image: url('https://i.ibb.co/4sRm3wb/contact.webp');
   height: 175px;
   background-size: cover;
   position: absolute;
   top: 0;
   right: 0;
   z-index: 1;
   width: 100%;
   border-top-right-radius: 0.5rem;
   border-top-left-radius: 0.5rem;
}

.contact__overlay::before {
   background: linear-gradient(132deg, #02A5DA 40%,  #03b8ff);
   display: inline-block;
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 2;
   opacity: 0.6;
   border-top-right-radius: 0.5rem;
   border-top-left-radius: 0.5rem;
}

.contact__card > section {
   position: relative;
   display: flex;
   align-items: center;
}

.contact__card p {
   position: relative;
   z-index: 3;
   padding-bottom: 24px;
   text-align: center;
}

.contact__card h4 > span {
   border-bottom: 2px solid hsl(0deg 0% 25% / 95%);
}

.contact__card button {
   width: 100%;
   padding-right: 24px;
   padding-left: 24px;
   font-size: 0.75rem;
}

.contact__card button svg {
   font-size: 1rem;
}

.contact .card__title::after {
   background-color: rgb(203, 203, 203);
   height: 1px;
}

.contact .card__content {
   padding: 205px 24px 32px 24px;
}

@media screen and (max-width: 575px) {
   .contact {
      margin: 0 24px;
   }

   .contact .contact__card {
      max-width: 100%;
      margin-bottom: 54px;
   }

   .contact .contact__header {
      font-size: 5rem;
   }

   .contact .card__title {
      font-size: 1.25rem;
   }
}
