.content.dark,
.content.dark .container,
.content.dark > div,
.content.dark .parallax-wrapper {
   background-color: #0c0c19;
}

.content.dark .container::after {
   background-color: #11111d;
}

/* Navigation ------------------------------------- */

.content.dark .navigation__nav {
   background-color: #131320c7;
}

.content.dark .navItem > button {
   color: #e9e6e6;
}

.content.dark .nav-item--active > button,
.content.dark .navItem > button:hover {
   background-color: #2c363e45;
   color: #b7dcfee8;
}

.content.dark .nav-item--active > button {
   color: var(--primary);
}

.content.dark .navItem > button:hover {
   color: var(--primary);
}

/* Card ------------------------------------- */

.content.dark .card {
   background-color: #11111d;
   color: #e9e6e6;
}

.content.dark .card.card--arrow::before {
   border-color: transparent #11111d transparent transparent !important;
}

.content.dark .card h3,
.content.dark .card h4,
.content.dark .card h5,
.content.dark .card h6 {
   color: #e9e6e6;
}

.content.dark .card .pageheader {
   color: #e9e6e6;
}

.content.dark .card.card--bulleted li::before {
   background-color: #e9e6e6;
}

.content.dark .card__title::after {
   background-color: #4f4f606e;
}

/* Anchor ------------------------------------- */

.content.dark .anchor {
   color: #78c0fff1;
}

.content.dark .anchor:hover {
   color: #aed9fff1;
}

/* Carousel ------------------------------------- */

.content.dark .carousel__icon {
   color: #fff;
}

.content.dark .carousel__widget,
.content.dark .carousel__arrow {
   background-color: #2c363e45;
}

/* Cover ------------------------------------- */

.content.dark .cover::before {
   background: linear-gradient(170deg, #01162a 60%, #168ce0);
   opacity: 0.8;
}

.content.dark .title .title__overlay {
   background-color: #0078df47;
}

/* Switch ------------------------------------- */

.content.dark .switch {
   background-color: #131320c7;
   color: #e9e6e6;
}

/* Block ------------------------------------- */

.content.dark .block {
   background-color: #131320c7;
}

/* Menu ------------------------------------- */

.content.dark .overlay svg {
   color: #e9e6e6;
}

@media screen and (max-width: 769px) {
   .content.dark .nav-item--active > button,
   .content.dark .navItem > button:hover {
      background-color: transparent;
   }
}

.content.dark .footer {
   background-color: #131320c7;
}

.content.dark .footer p {
   color: #e9e6e6;
}
