.experience {
  text-align: center;
}

.experience__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.experience__text {
  max-width: 600px;
  margin: 0 auto;
}

.experience .experience__link {
  color: var(--secondary);
}

.experience__content {
  margin: -5rem auto 0 auto;
  background-color: #fff;
  color: #000;
  text-align: left;
  max-width: 675px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 1.5rem;
  min-height: 508px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.experience__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.experience__list {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

@media (min-width: 576px) {
  .experience__details {
    flex-direction: unset;
    gap: unset;
  }

  .experience__content {
    min-height: 390px;
  }
}

@media (min-width: 992px) {
  .experience__content {
    padding: 2rem;
  }
}
