.footer {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 1rem;
  text-align: center;
  border-top: 2px solid #ebebeb;
}

.footer a {
  color: var(--secondary);
}

@media (min-width: 768px) {
  .footer {
    border-top: none;
    padding-top: 0;
    padding-bottom: 4rem;
  }
}
