@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --bg-primary: rgb(247, 247, 247);
  --primary: #ebebeb;
  --secondary: rgb(3 102 242);
  --accent: rgb(217 250 255);
  --font: rgb(40, 43, 62);
  --box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
  --border-radius: 0.5rem;
}
