.pageheader {
  letter-spacing: -0.5px;
}

.pageheader--1,
.pageheader--2,
.pageheader--3,
.pageheader--4,
.pageheader--5,
.pageheader--6 {
  font-weight: 700;
  color: rgb(75 78 102);
}

.pageheader--1 {
  font-size: 4rem;
  font-weight: 900;
  font-family: Inter, serif;
  letter-spacing: -2.5px;
  background: -webkit-linear-gradient(110deg, #28b8f8 35%, #1234dc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pageheader--2 {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: Inter, serif;
  letter-spacing: -1.5px;
}

.pageheader--3 {
  font-size: 1.2rem;
  letter-spacing: -1px;
  font-weight: 900;
}

.pageheader--4 {
  font-size: 1.2rem;
}

.pageheader--5 {
  font-size: 1.1rem;
}

.pageheader--6 {
  font-size: 1rem;
  font-weight: 600;
}
