.pageheader {
  letter-spacing: -0.5px;
}

.pageheader--1,
.pageheader--2,
.pageheader--3,
.pageheader--4,
.pageheader--5,
.pageheader--6 {
  font-weight: 700;
  color: var(--font);
}

.pageheader--1 {
  font-size: 6rem;
  font-family: "Mockhand";
  text-shadow: 2px 2px 0 #4b4b4bc7, -1px -1px 0 #4b4b4bc7, 1px -1px 0 #4b4b4bc7,
    -1px 1px 0 #4b4b4bc7, 1px 1px 0 #4b4b4bc7;
  color: var(--secondary);
}

.pageheader--2 {
  font-size: 2.25rem;
  font-weight: 800;
  letter-spacing: -1.5px;
}

.pageheader--3 {
  font-size: 1.25rem;
}

.pageheader--4 {
  font-size: 1.2rem;
}

.pageheader--5 {
  font-size: 1.1rem;
}

.pageheader--6 {
  font-size: 1rem;
  font-weight: 600;
}

@media (min-width: 992px) {
  .pageheader--1 {
    font-size: 7rem;
  }
}
