.portfolio__container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 12px;
}

.portfolio__project {
   position: relative;
   margin: auto;
   overflow: hidden;
   height: 175px;
}

.portfolio__overlay {
   background: #082940f2;
   position: absolute;
   margin: auto;
   width: 0px;
   height: 0px;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: 0;
   -webkit-transition: 0.4s ease;
   transition: 0.4s ease;
}

.portfolio__img {
   max-width: 100%;
   height: 100%;
   object-fit: cover;
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
   border-radius: 0.25rem;
}

.portfolio__project:hover .portfolio__overlay {
   opacity: 1;
   width: 100%;
   height: 100%;
   border-radius: 0.25rem;
}

.portfolio__details {
   color: #fff;
   text-align: left;
   position: absolute;
   margin: auto;
   height: 100%;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   opacity: 0;
   -webkit-transform: scale(0);
   transform: scale(0);
   -webkit-transition: transform 0.5s ease, opacity 0.7s ease;
   transition: transform 0.5s ease, opacity 0.7s ease;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.portfolio__project:hover .portfolio__details {
   opacity: 1;
   -webkit-transform: scale(1);
   transform: scale(1);
   -webkit-transition: transform 0.5s ease, opacity 1.3s ease;
   transition: transform 0.5s ease, opacity 1.3s ease;
   padding: 0 16px;
}

.portfolio__project h3 {
   border-bottom: 2px solid #fff;
}

.portfolio__project h3,
.portfolio__description {
   color: #fff;
   font-size: 1.05rem;
}

.portfolio__description {
   font-size: 0.8rem;
   padding-top: 8px;
}

.portfolio__social {
   padding-top: 8px;
   /* display: flex;
   justify-content: center; */
}

.portfolio__social svg {
   color: #fff;
   font-size: 24px;
   margin: 0 4px;
   transition: 0.3s ease;
}

.portfolio__social svg:hover {
   color: #8cd4ff;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 575px) {
   .portfolio__container {
      grid-template-columns: 1fr;
   }

   .portfolio__project {
      height: 200px;
   }

   .portfolio__project h3 {
      font-size: 1.25rem;
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 576px) and (max-width: 768px) {
   .portfolio__container {
      grid-template-columns: repeat(2, 1fr);
   }

   .portfolio__project {
      height: 200px;
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 769px) and (max-width: 992px) {
   .portfolio__container {
      grid-template-columns: repeat(2, 1fr);
   }

   .portfolio__project {
      height: 200px;
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 993px) and (max-width: 1200px) {
   .portfolio__container {
      grid-template-columns: repeat(2, 1fr);
   }

   .portfolio__project {
      height: 225px;
   }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1201px) {
   /* ...; */
}
