.skills__container {
   max-width: 500px;
}

.skills__content {
    position: relative;
    z-index: 3;
    padding-top: 8px;
    align-self: baseline;
    padding: 16px;
    background-color: #aad7ff45;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills__content > svg {
   font-size: 3.5rem;
   color: rgb(var(--primary));
}

.skills__paragraph {
   padding-bottom: 16px;
}

.skills__card p {
   position: relative;
   z-index: 3;
}

.skills__tags {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 8px;
   margin-top: 16px;
}

 #skills .card__title::after {
   flex-grow: .74;
 }

 #skills li {
    font-size: .8rem;
    margin: 0.25rem 0.75rem;
 }

 #skills h4 {
    margin-bottom: 8px;
 }

 #skills .tag span {
    display: none;
 }

 #skills .tag {
   background-color: #fff9;
 }

 #skills .carousel {
    margin-right: 151px;
 }

 .skills__container.skills__container--back .tag,
 .skills__container.skills__container--back svg {
   color: #3CD184;
 }

 .skills__container.skills__container--back .skills__content {
   background-color: #3cd1843a;
 }

.skills__container.skills__container--back > .skills__content > svg path,
.skills__container.skills__container--back > .skills__content > svg ellipse {
   stroke-width: 20px;
}

 .skills__container.skills__container--front .tag,
 .skills__container.skills__container--front svg {
   color: #1265ff;
 }

 .skills__container.skills__container--front .skills__content {
   background-color: #1265ff3a;
 }

 .skills__container.skills__container--workflow .tag,
 .skills__container.skills__container--workflow svg {
   color: #E83F6F;
 }

 .skills__container.skills__container--workflow .skills__content {
    background-color: #e83f6f3a;
 }

 @media (max-width: 991px) {
    .skills__content {
       display: none;
    }

    #skills .carousel {
       margin-right: 0;
    }

    #skills .card__title::after {
      flex-grow: 1;
    }
 }