.tag {
   width: fit-content;
   background: #b7dcfee8;
   display: flex;
   align-items: center;
   padding: 4px 8px;
   font-weight: 800;
   font-size: 0.8rem;
   border-radius: 4px;
   color: var(--primary);
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.tag > span {
   margin-left: 8px;
}

.tag svg {
   font-size: 1.15rem;
}
