.tag {
  width: fit-content;
  color: var(--secondary);
  background-color: var(--accent);
  display: flex;
  font-weight: 600;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  border-radius: var(--border-radius);
  align-self: center;
}

.tag > span {
  margin-left: 8px;
}

.tag svg {
  font-size: 1.15rem;
}
